.container {
  background-color: #cefe9f;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #cefe9f;
}

.font-mini {
  font-size: 14px;
}

.front-card,
.back-card {
  width: 450px;
  margin: 20px;
  padding: 10px;
}

.front-bg-card {
  width: 100%;
}

.background-card {
  width: 100%;
}

.back-card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 10;
  position: absolute;
}

.logo-tmt {
  width: 100px;
  height: auto;
}

.name-member {
  text-align: center;
  width: 100%;
  color: #0000FF;
  border-bottom: 3px dotted black;
}
.mr-0 {
  margin: 0;
}

.mr-2 {
  margin: 0 0 2px 0;
}

.mr-4 {
  margin: 0 0 4px 0;
}

.mr-8 {
  margin: 0 0 8px 0;
}

.mr-12 {
  margin: 0 0 12px 0;
}

.mr-16 {
  margin: 0 0 16px 0;
}

.mr-32 {
  margin: 0 0 32px 0;
}

.mr-r80 {
  margin-right: 80px;
}

.place {
  margin-top: 12px;
  color: #0f5f3b;
  font-weight: 600;
}

.time-work {
  color: #0f5f3b;
  font-weight: 600;
}

table {
  width: 100%;
  text-align: center;
}

.row1 {
  height: 80px;
}

.first {
  padding-bottom: 20px;
}

.time-line h3 {
  color: red;
  font-style: italic;
}

.btn-download {
  width: 100px;
  height: 40px;
  border: 1px solid #0bb061;
  border-radius: 25px;
  color: #0f5f3b;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 20px;
  margin: 0px 20px 20px;
}

.btn-download:hover {
  background-color: #f5f5f5;
}

.container-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media (max-width: 739px) {
  .font-mini {
    font-size: 10px;
  }

  .card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #cefe9f;
    overflow-x: hidden;
  }
  .front-card,
  .back-card {
    width: 100%;
    margin: 20px;
    padding: 10px;
  }
  
  .logo-tmt {
    width: 80px;
    height: auto;
  }

  .mr-2{
    magin: 0 0 1px 0;
  }

  .mr-12 {
    margin: 0 0 8px 0;
  }

  .mr-16 {
    margin: 0 0 12px 0;
  }

  .front-card {
    padding: 0;
  }
  .front-bg-card {
    width: 94%;
  }

  .background-card {
    width: 94%;
  }

  .row1 {
    height: 50px;
  }
  
  .first {
    padding-bottom: 14px;
}
}
